:host {
  width: 100%;
}

.team-summary-table {
  border: 1px solid black;
  padding-left: 10px;
  width: 100%;
}

.team-summary-tr .checkbox {
  color: green !important;
  font-size: large !important;
  font-weight: bold !important;
}
button.long_btn{
    width: 100%;
    text-align: center !important;
    display: inline-block;
}

@media screen and (max-width: 1200px) {
  tr { 
    border: 1px solid rgba(3,3,3,0.2);
  }
  td, th {
    border: 0.5px solid rgba(3,3,3,0.2);
  }

}

.team-img{
  vertical-align:middle;
}

#happyNewYear-div {
  font-family: sans-serif;
  color: #000000;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
}

#happyNewYear-div > div {
  padding: 5px;
  border-radius: 3px;
  background: #2d2c72;
  display: inline-block;
  margin: 2px;
}

#happyNewYear-div div > span {
  padding: 15px;
  border-radius: 3px;
  background: #ffffff;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 10px;
  color:#ffffff
}

tr.today-team td{
  color:blue;
  font-weight:bold;
}