:host {
  width: 100%;
}

.team-summary-table {
  border: 1px solid black;
  padding-left: 10px;
  width: 100%;
}

.team-summary-tr .checkbox {
  color: green !important;
  font-size: large !important;
  font-weight: bold !important;
}
button.long_btn{
    width: 100%;
    text-align: center !important;
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    tr { 
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0;
      border: 1px solid rgba(3,3,3,0.2);
    }
    td, th {
      flex: 1 1 150px;
      border: 0.5px solid rgba(3,3,3,0.2);
    }

  }
