<div class="grid">
    <div class="col-12">
        <p-card header="Match Details">
            <div class="match-det">
                <span><b>Match No : </b> 2</span>	&#9734;
                <span><b>Match : </b> X-Team vs Y-Team</span>	&#9734;
                <span><b>Venue : </b> Play Ground, Test</span>	&#9734;
                <span><b>Time : </b> 19:30</span> &#9734;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </p-card>
    </div>
</div>
<div class="grid">
    <div class="col-4">
        <p-card header="Your XI Players">
            <p-table #dt1 [value]="selectedPlayers" dataKey="Player" [rows]="5" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[5,10,15]" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['players']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                            (click)="dt1.clear();search.value=''"></button>&nbsp;
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText #search type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Player
                        </th>
                        <th>
                            Role
                        </th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowData['name']}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="rowData.roleList" [(ngModel)]="rowData.assignedRole"
                                        (onClick)="processDropDown(rowData.roleList)" optionDisabled="inactive"
                                        optionLabel="name" optionValue="value" [style]="{'width':'100%'}"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{codeToName(rowData.assignedRole)}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-button label="Remove" styleClass="p-button-link" (click)="remove(rowIndex)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
            <button [disabled]="selectedPlayers.length==0" pButton pRipple type="button" class="long_btn">Submit</button><br><br>
            <button  pButton pRipple type="button" class="long_btn">Reset</button><br><br>
            <button  pButton pRipple type="button" class="long_btn" [disabled]="checkUndo()"
                (click)="undo()">Undo</button>

        </p-card>
    </div>
    <div class="col-2">
        <p-card header="Team Summary">
            <table class="team-summary-table">
                <tbody>
                    <tr class="team-summary-tr">
                        <td>Team Size</td>
                        <td>{{teamSize}}/{{teamSizeLimit}}</td>
                        <td class="checkbox">{{teamSize==teamSizeLimit?' &#10003;':''}}</td>
                    </tr>
                    <tr class="team-summary-tr">
                        <td>Captain</td>
                        <td>{{captainCount}}/{{captainCountLimit}}</td>
                        <td class="checkbox">{{captainCount==captainCountLimit?' &#10003;':''}}</td>
                    </tr>
                    <tr class="team-summary-tr">
                        <td>Vice Captain</td>
                        <td>{{viseCaptainCount}}/{{viseCaptainCountLimit}}</td>
                        <td class="checkbox">{{viseCaptainCount==viseCaptainCountLimit?' &#10003;':''}}</td>
                    </tr>
                    <!-- <tr class="team-summary-tr">
                        <td>All-Rounder</td>
                        <td>{{AllRoundersCount}}/{{AllRoundersCountLimit}}</td>
                        <td class="checkbox">{{AllRoundersCount==AllRoundersCountLimit?' &#10003;':''}}</td>
                    </tr>
                    <tr class="team-summary-tr">
                        <td>Substitute</td>
                        <td *ngIf="subCountLimit">{{subCountUsed}}/{{subCountLimit}}</td>
                        <td *ngIf="!subCountLimit">&#8734;</td>
                        <td class="checkbox">{{subCountUsed==subCountLimit?' &#10003;':''}}</td>
                    </tr> -->
                </tbody>
            </table>
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Available Players">
            <p-table #dt2 [columns]="cols" [value]="players" responsiveLayout="scroll" dataKey="Player" [rows]="10"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['name','team']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                            (click)="dt2.clear();search.value=''"></button>&nbsp;
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText #search type="text" (input)="dt2.filterGlobal(search.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                {{col.header}}
                                <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-column="columns" let-rowIndex="rowIndex">
                    <tr (click)="selectPlayer(rowData,rowIndex)">
                        <td *ngFor="let col of column">
                            <!-- <div *ngIf="col.field=='Team'"><img width="50" alt="{{rowData[col.field]}}roundbig.png" src="../../../../../assets/images/team_logos/{{rowData[col.field]}}roundbig.png"/></div> -->
                            <div style="text-align: center;">{{rowData[col.field]}}</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>
<p-toast></p-toast>
