<div class="grid">
  <div class="col-12">
    <p-card header="Fantastic 12 " >
      <p-table [value]="rank" [rowHover]="true" #dt
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0" [globalFilterFields]="['username','rank_no','total']"
      >
        <ng-template pTemplate="caption">
          League Player Ranking 
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #sear (input)="dt.filterGlobal(sear.value, 'contains')" placeholder="Name, Rank, Total" />
          </span>
          &nbsp;<button id="refreshbtn" (click)="refreshScore()">Refresh Score</button>&nbsp;
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Total Score</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.username }}</td>
            <td>{{ product.rank_no }}</td>
            <td>{{ product.total }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Last updated time : {{lastUpdatedTime}}. For the most recent results, click <i>Refresh Score</i> button.
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<p-toast></p-toast>
