<div class="grid">
  <div class="col-12">
    <p-card header="Fantastic 12 " >
      <p-table responsiveLayout="scroll"
        [value]="rank" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="caption">
          League Player Ranking <button id="refreshbtn" (click)="refreshScore()">Refresh Score</button>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Total Score</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.username }}</td>
            <td>{{ product.rank_no }}</td>
            <td>{{ product.total }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Last updated time : {{lastUpdatedTime}}. For the most recent results, click <i>Refresh Score</i> button.
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<p-toast></p-toast>
